h1 {
  padding-top: 25px;
}
body {
  text-align: center;
  background-color: antiquewhite;
  text-shadow: 1px 1px 3px gray;
}
input {
  width: 40px;
  margin: 10px;
  text-align: center;
}
span {
  display: inline-flex;
}
span.pv {
  padding-top:20px;
  font-size: 18px;
}
div.f {
  color: blue;
}
input:disabled {
  background-color: aquamarine;
}