h1 {
  padding-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 0px;
  line-height: 1px;
}
body {
  padding: 0px;
  margin: 0px;
  text-align: center;
  background-color: antiquewhite;
  text-shadow: 1px 1px 3px gray;
  font-size: 17px;
}
input {
  width: 70px;
  margin: 10px;
  text-align: center;
}
span {
  display: inline-flex;
}
span.pv {
  padding-top:20px;
  font-size: 18px;
}
div.f {
  color: blue;
  margin-top: 0px;
}
input:disabled {
  background-color: aquamarine;
}
span.psz {
  color: red;
}
div.fel {
  font-family:  'Arial Narrow';
  font-size: 16px;
  display: inline-block;
}